@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --primary-color: #ec4899; /* pink-600 */
  --secondary-color: #1f2937; /* gray-800 */
  --accent-color: #3b82f6; /* blue-500 */
  --bg-color: #f9fafb; /* light background */
  --font-primary: 'Roboto', sans-serif;
  --font-heading: 'Poppins', sans-serif;
  --font-para:'Inter',sans-serif;
  --border-radius: 0.5rem;
  --transition-speed: 0.3s;
}


body {
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  color: var(--secondary-color);
  line-height: 1.6;
}

/* -----------------------------
   4. Headings
   ----------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  margin-bottom: 1rem;
  line-height: 1.2;
}


p {
  font-family: var(--font-para);
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}




a:hover {
  color: var(--primary-color);
}
